<% provide(:title, "Contact Us") %>
<div class="row wrapper white-bg page-heading">
  <div class="col-lg-10">
    <h1>Contact</h1>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'projects' %>">Home</a>
      </li>
      <li class="active">
        <strong>Contact Us</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="row ibox-content">
          <div class="">
            <p class="p-gray"><b>An SFU Moving Stories Project</b></p>
          </div>
          <div class="col-lg-12 border-bottom-mg-bt-top">
          </div>
          <div class="col-lg-6 pull-right">
            <p>This site is under active development by <%= mail_to "michael_nixon@sfu.ca", "Michael Nixon",class:"underlined"%> and <%= mail_to "sranjan@sfu.ca", "Subir Ranjan",class:"underlined"%> at Simon Fraser University, Canada, so please contact them with any technical difficulties you encounter. For more information on movement research, please visit <%= link_to "Moving Stories", "http://movingstories.ca",class:"underlined" %>. For more information on the infrastructure development, please visit <%= link_to "mplusm", "http://mplusm.ca",class:"underlined"%>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
