<% provide(:title, 'Accessible Projects') %>
<div class="row wrapper white-bg page-heading">
  <div class="col-lg-12">
    <h1>Project Browser</h1>
    <input type="text" class="pull-right col-lg-3 search-input" id="myInputTextField" placeholder="Search">
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'projects' %>">Home</a>
      </li>
      <li class="active">
        <strong>Projects</strong>

      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table table-hover" id="mytracks">
            <thead>
            <tr>
              <th class="col-lg-2">Name</th>
              <th class="col-lg-4">Movement Groups</th>
              <th class="col-lg-2">Sensors</th>
              <th class="col-lg-2">Associated Movers</th>
              <!-- <th class="col-lg-1">Tags</th> -->
              <th class="col-lg-1">Access</th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr>
                  <!--<td><%= link_to truncate(project.name, length: 40), project_path(project) %> <%= render partial: "owner_options", locals: { project: project} if authorized?(project)%></td>-->
                  <td class="col-lg-2"><% if project.public? %>
                        <%= link_to project.name, project_path(project), class:"underlined"%>
                        <%= render partial: "owner_options", locals: { project: project} if authorized?(project)%></td>
                    <% else %>
                        <% if authorized?(project) %>
                            <%= link_to project.name, project_path(project),class:"underlined" %>
                            <%= render partial: "owner_options", locals: { project: project} if authorized?(project)%></td>
                        <%else%>
                            <%= project.name %>
                        <%end%>
                    <% end %>
                    <td class="col-lg-4"><%= raw(project.movement_groups.includes(:owner).map{|group| group_link_or_name(group) }.join(", "))%></td>
                    <td class="col-lg-2"><%= raw(project.sensor_types.map{|type| link_to(type.name, sensor_type_path(type),class:"underlined") }.join(", "))%></td>
                    <td class="col-lg-2"><%= raw(project.all_movers.map{|mover| link_to(mover.name, mover_path(mover),class:"underlined") }.join(", "))%></td>
                    <!-- <td class="col-lg-1"><%= project.tag_list %></td> -->
                    <td class="col-lg-1"><% if project.public? %>
                          <i class="fa fa-unlock fa-1x col-sm-offset-4 col-md-offset-4 col-lg-offset-4"></i>
                      <% else %>
                          <a data-toggle="tooltip" data-placement="right" title='<%= 'Please contact ' + project.owner.alias + ' ('+project.owner.email+')'+ ' to request access to this project.' %>'><i class="fa fa-lock fa-1x col-sm-offset-4 col-md-offset-4 col-lg-offset-4"></i></a>
                      <% end %>
                      </tr>
            <% end %>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
              <!--<th>Name</th>-->
              <!--<th>Movement Groups</th>-->
              <!--<th>Sensors</th>-->
              <!--<th>Associated Movers</th>-->
              <!--<th>Tags</th>-->
              <!--<th>Access</th>-->
            <!--</tr>-->
            <!--</tfoot>-->
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">


      $(function() {

        oTable=$('#mytracks').DataTable({
          bFilter: true,
          "language": {
            "lengthMenu": "Show  _MENU_  entries",
            "zeroRecords": "Nothing found - sorry",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
          }

        });


        $('#myInputTextField').keyup(function(){
          oTable.search($(this).val()).draw() ;
        })

//        /* Init DataTables */
//        var oTable = $('#editable').dataTable();
//
//        /* Apply the jEditable handlers to the table */
//        oTable.$('td').editable( '../example_ajax.php', {
//          "callback": function( sValue, y ) {
//            var aPos = oTable.fnGetPosition( this );
//            oTable.fnUpdate( sValue, aPos[0], aPos[1] );
//          },
//          "submitdata": function ( value, settings ) {
//            return {
//              "row_id": this.parentNode.getAttribute('id'),
//              "column": oTable.fnGetPosition( this )[2]
//            };
//          },
//
//          "width": "90%",
//          "height": "100%"
//        } );


      });

//      function fnClickAddRow() {
//        $('#editable').dataTable().fnAddData( [
//          "Custom row",
//          "New row",
//          "New row",
//          "New row",
//          "New row" ] );
//
//      }

    </script>

<% end %>
