<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/flash_messages' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-12 col-lg-12">

      <!--<div class="col-sm-12  col-md-12 main">-->
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
